{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Article "{{ article['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
<article class="post">
    <header>
      <div>
        <h1>{{ article['title'] }}</h1>
        <div class="about">by {{ article['username'] }} on {{ article['created'].strftime('%Y-%m-%d') }}</div>
      </div>
      {% if g.user['id'] == article['author_id'] %}
        <a class="action" href="{{ url_for('blog.update', id=article['id']) }}">Edit</a>
      {% endif %}
    </header>
    <p>{{ article['body'] }}</p>
</article>
{% endblock %}
