{% extends 'base.html' %}
{% import 'blog/_macros.html' as macros %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('main.create') }}" style="float: right;">New</a>
  {% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 blog-main">
    {% for post in posts %}
      <div class="blog-post">
        <header>
          <div>
            <a class="hvr-underline-reveal" href="{{ url_for('main.page', id=post.id) }}">{{ post.title }}</a>
            {% if g.user.id == post.author_id %}
              <a class="action" href="{{ url_for('main.update', id=post.id) }}" style="float: right;">Edit</a>
            {% endif %}
            <p class="blog-post-meta">Created on {{ post.created.strftime('%Y-%m-%d') }}</p>
          </div>
        </header>
        <!-- <p class="body">{{ post.body }}</p> -->
      </div>
      {% if not loop.last %}
        <hr>
      {% endif %}
    {% endfor %}
    {% if pagination and posts %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'main.index') }}
    </div>
    {% endif %}
  </div>
  <aside class="col-md-4 blog-sidebar">
    <div class="p-3">
      <!-- <h4  class="font-italic"> -->
      <h4>
          <span class="glyphicon glyphicon-time"></span>
          &nbsp;最近文章
      </h4>
      <ul class="list-unstyled mb-0">
      {% for rp in recent_posts %}
        <li>
          <a class="recent-blog" href="{{ url_for('main.page', id=rp.id) }}">{{ rp.title }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
    <hr>
    <div class='p-3'>
      <h4>
        <span class="glyphicon glyphicon-tags"></span>
        &nbsp;标签
        <div>
        <br>
        {% for tag in tags %}
          <a class="hvr-fade" href="{{ url_for('main.posts_by_tag', tag_id=tag.id) }}">{{ tag.name }}</a>
        {% endfor %}
        </div>
      </h4>
    </div>
  </aside>
</div>
{% endblock %}