{% extends 'base.html' %}
{% import 'blog/_macros.html' as macros %}

{% block header %}
  <h1>{% block title %}Posts{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('main.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <a class="action" href="{{ url_for('main.page', id=post.id) }}">{{ post.title }}</a>
          <div class="about">Created on {{ post.created.strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user.id == post.author_id %}
          <a class="action" href="{{ url_for('main.update', id=post.id) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ post.body }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  {% if pagination %}
  <div class="pagination">
      {{ macros.pagination_widget(pagination, 'main.index') }}
  </div>
  {% endif %}
{% endblock %}