{% extends 'base.html' %}
{% import 'blog/_macros.html' as macros %}

{% block header %}
  <h4>
    <span class="glyphicon glyphicon-tag"></span>
      {% block title %}
      {{ tag.name }}
      {% endblock %}</h4><br>
  {% if g.user %}
    <a class="action" href="{{ url_for('main.create') }}" style="float: right;">New</a>
  {% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 blog-main">
    {% for post in tag_posts %}
        <a class="hvr-underline-reveal" href="{{ url_for('main.page', id=post.id) }}">
            <div>
                <h2 class="blog-post-title">{{ post.title }}</h2>
                {% if g.user.id == post.author_id %}
                    <a class="action" href="{{ url_for('main.update', id=post.id) }}" style="float: right;">Edit</a>
                {% endif %}
                <p class="blog-post-meta">Created on {{ post.created.strftime('%Y-%m-%d') }}</p>
            </div>
          </a>
        {% if not loop.last %}
          <hr>
        {% endif %}
    {% endfor %}
    {% if pagination and tag_posts %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'main.posts_by_tag') }}
    </div>
    {% endif %}
  </div>
  <aside class="col-md-4 blog-sidebar">
    <div class="p-3">
        <h4>
            <span class="glyphicon glyphicon-time"></span>
            &nbsp;最近文章
        </h4>
        <br>
        <div class="list-group">
            <ul>
            {% for rp in tag_recent_posts %}
                <li>
                <a class="recent-blog" href="{{ url_for('main.page', id=rp.id) }}">{{ rp.title }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
  </aside>
</div>
{% endblock %}