<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %} - Flaskprj</title>

    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/css/lib/hover-min.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/lib/ladda.min.css">

    <link rel="icon", href="/static/img/favicon.ico">

  </head>
  
  <body>
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header page-scroll">

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            {% if g.user %}
            <!-- <span class="text-muted">{{ g.user['username'] }}</span>
              <p>&nbsp;&nbsp;</p> -->
            <li><a class="text-muted" href="{{ url_for('main.profile') }}">{{ g.user['username'] }}</a></li>
            <li><a class="btn btn-sm btn-outline-secondary" href="{{ url_for('auth.logout') }}">Log Out</a></li>
            {% else %}
            <!-- <li><a class="text-muted" href="{{ url_for('main.profile', username='usr1') }}">Profile</a></li> -->
            <li><a class="text-muted" href="{{ url_for('main.profile') }}">Profile</a></li>
            <li><a class="btn btn-sm btn-outline-secondary" href="{{ url_for('auth.register') }}">Register</a></li>
            <li><a class="btn btn-sm btn-outline-secondary" href="{{ url_for('auth.login') }}">Log In</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <header class="intro-header" style="background-image:url(../static/img/RiverofLife.jpg)">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
              <h1>Someone's Blog</h1>
              <hr class="small">
              <span class="sub-heading">
                  <a class="blog-header-logo text-dark" href="{{ url_for('main.index') }}"><span class="glyphicon glyphicon-home"></span></a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>
      
    <div class="container">
      <main role="main" class="container">
        <!-- <header> -->
          <div>
          {% block header %}{% endblock %}
        </div>
        <!-- </header> -->
        {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
      </main>
    </div>

    <footer class="blog-footer">
        <p>Powered by <a href="http://flask.pocoo.org/">Flask</a> | <a href="http://getbootstrap.com/">Bootstrap</a> | <a href="https://www.vultr.com/">Vultr</a></p>
        <p><span class="glyphicon glyphicon-link"></span><a href="#">Github:XX</a></p>
        <p>
          <a href="#">Back to top</a>
        </p>
      </footer>
    <script src="../static/js/lib/jquery.min.js"></script>
    <script src="../static/js/lib/bootstrap.min.js"></script>
  </body>
  </html>